.inputList
  display flex
  margin-left 10px 
.search
  font-size 1.1em
  font-weight normal
  color #333
  display flex
  width 300px
  background none
  outline none
  padding 2px 6px
  height 2.54545em
  border 1px solid #cecece
  height 30px
#filterType
  margin-top 14px
  display flex
  span
    border-radius 3px
    padding 0 4px
    margin-left 12px
    cursor pointer
    background #eee
    &:first-child
      margin-left 20px

#imageGallery
  margin-top 20px
  margin-left 10px
  display flex
  flex-wrap wrap
  +below(700px)
    flex-direction row
  .imageContainer
    background #c5c5c5
    margin-right 10px
    margin-bottom 10px
    display flex
    flex-grow 1
    align-items center
    justify-content center
    width 31%
    +below(700px)
      width 100%
    img
      max-width 100%
      max-height 100%
      
.license
  margin-left 10px
  margin-right 10px
  
.clr 
  min-width 30px
  cursor pointer

.pagination
  list-style-type none
  display flex 
  align-items center
  justify-content center
  font-size 1.2em
  li 
    padding 4px 12px
    height 20px
    line-height 20px
    border 1px solid #eee