.inputList
  display flex 
.search
  font-size 1.1em
  font-weight normal
  color #333
  display flex
  width 300px
  background none
  outline none
  padding 2px 6px
  height 2.54545em
  border 1px solid #cecece
  height 30px
#filterType
  margin-top 14px
  display flex
  span
    border-radius 3px
    padding 0 4px
    margin-left 12px
    cursor pointer
    background #eee
    &:first-child
      margin-left 20px